@font-face {
    font-family: 'pslkittithadabold';
    src: url('../fonts/pslkittithada_bold-webfont.eot');
    src: url('../fonts/pslkittithada_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pslkittithada_bold-webfont.woff') format('woff'),
         url('../fonts/pslkittithada_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'pslkittithadaregular';
    src: url('../fonts/pslkittithada-webfont.eot');
    src: url('../fonts/pslkittithada-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pslkittithada-webfont.woff') format('woff'),
         url('../fonts/pslkittithada-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kanda_proregular';
    src: url('../fonts/psl152pro-webfont.eot');
    src: url('../fonts/psl152pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl152pro-webfont.woff') format('woff'),
         url('../fonts/psl152pro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kanda_proitalic';
    src: url('../fonts/psl153pro-webfont.eot');
    src: url('../fonts/psl153pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl153pro-webfont.woff') format('woff'),
         url('../fonts/psl153pro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'psl_kanda_probold';
    src: url('../fonts/psl154pro-webfont.eot');
    src: url('../fonts/psl154pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl154pro-webfont.woff') format('woff'),
         url('../fonts/psl154pro-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kanda_probold_italic';
    src: url('../fonts/psl155pro-webfont.eot');
    src: url('../fonts/psl155pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl155pro-webfont.woff') format('woff'),
         url('../fonts/psl155pro-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

html {
    height: 100%;
}
body {
    font-family: 'psl_kanda_probold';
    font-size: 20px;
    line-height: 1.2;
}
.small {
    font-size: 20px!important;
}
.btn.focus, .btn:focus, button:focus {
    box-shadow: none;
    outline: none;
}
.green-background {
    background-image: linear-gradient(to bottom right, #AECE34, #C2D32B, #AECE34);
    height: 100vh;
}
.grey-background {
    background-color: #EBEBEB;
}
.black-background {
    background-image: linear-gradient(to bottom, rgba(1,1,1,.6), rgba(15,15,15,.4), rgba(134,134,134,.2), transparent 98%);
    height: 323px;
    width: 100%;
    position: absolute;
}

/* Terms */
.header.terms {
    padding: 15px 0;
}
.header.terms .btn-back {
    border: none;
    background: none;
    padding: 0;
}
.header.terms .custom-switch {
    display: inline-block;
    float: right;
    width: 65px;
    height: 35px;
    margin-top: -4px;
}
.custom-control.custom-switch:before {
    content: "TH";
    top: 8px;
    left: 10px;
    position: absolute;
    z-index: 9;
}
.custom-control.custom-switch:after {
    content: "EN";
    top: 8px;
    right: 10px;
    position: absolute;
}
.custom-switch .custom-control-label::before {
    height: 31px;
    width: 65px;
    border-radius: 25px;
}
.custom-switch .custom-control-label::before {
    background-color: #E3E3E3;
    border: none;
}
.custom-switch .custom-control-label::after {
    top: calc(.25rem + 3px);
    left: calc(-2.25rem + 3px);
    width: calc(27px - 2px);
    height: calc(27px - 2px);
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 3px 1px rgba(0,0,0,.06);
    z-index: 99;
}
.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: #E3E3E3;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(2.15rem);
    transform: translateX(2.15rem);
}
.terms .block {
    background: #fff;
    border: 20px solid #fff;
    border-top-width: 60px;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0,0,0,.1);
    height: 567px;
    position: relative;
}
.terms .block:before {
    display: block;
    content: '';
    width: calc(100% - 4px);
    height: 40px;
    background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,.7) 22%, rgba(255,255,255,1) 66%);
    position: absolute;
    top: -20px;
}
.terms .block:after {
    display: block;
    content: '';
    width: calc(100% - 4px);
    height: 60px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.7) 22%, rgba(255,255,255,1) 66%);
    position: absolute;
    bottom: 0;
}
.terms .block .block-title {
    position: absolute;
    top: -40px;
    width: 100%;
}
.terms .block .block-title h5 {
    font-family: 'pslkittithadabold';
    font-size: 26px;
    color: #A8C631;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: -webkit-baseline-middle;
}
.terms .block .block-title .logo {
    float: right;
}
.terms .block .block-title .logo img {
    width: 66px;
}
.terms .block .block-content {
    overflow: scroll;
    height: 482px;
}
.terms .block .block-content p strong {
    font-family: 'psl_kanda_probold';
    font-size: 22px;
    display: block;
}
.terms .block .block-content p {
    font-family: 'psl_kanda_probold';
    font-size: 20px;
    line-height: 1.2;
    padding-top: 8px;
}
.custom-control-input:checked~.custom-control-label::before {
    border: 1px solid rgba(206,242,64,.26);
    background-color: #A8C631;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../img/ico-checked.svg);
}
.block .custom-control-label {
    font-family: 'psl_kanda_probold';
    font-size: 20px;
    line-height: 1.2;
    padding-left: 10px;
}
.block .custom-control-label a {
    text-decoration: underline;
    color: #A8C631;
}
.block .custom-control-label::before{
    background-color: #E3E3E3;
    border: none;
    width: 20px;
    height: 20px;
}
.block .custom-control-label::after {
    width: 20px;
    height: 20px;
}
.btn-default input {
    background-image: linear-gradient(to bottom , #A8C631, #9BB530);
    border: 1px solid #ACCB34;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    font-family: 'pslkittithadabold';
    font-size: 26px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
    margin: 20px 0 60px 0;
    color: #fff;
    text-shadow: 1px -0.5px rgba(0,0,0,.07)
}
input[type="submit" i]:disabled {
    background-image: linear-gradient(to bottom , #DEDEDE, #B7B7B7);
    border: 1px solid #D3D3D3;
}
.btn-default input[type="submit" i]:focus {
    outline: none;
}

/* Menu */
.cbp-spmenu {
    background: #FFFFFF;
    position: fixed;
}
.cbp-spmenu .menu-title {
    padding: 20px;
    margin: 0;
    background: #F8F8F8;
}
.cbp-spmenu .menu-title .user-image {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}
.cbp-spmenu .menu-title .user-number {
    display: inline-block;
    vertical-align: middle;
}
.cbp-spmenu .menu-title .user-number p span.small {
    font-size: 20px;
    color: rgba(0,0,0,.53);
    -webkit-text-fill-color: rgba(0,0,0,.53);
    display: block;
}
.cbp-spmenu .menu-title .user-number p {
    font-family: 'pslkittithadabold';
    font-size: 30px;
    line-height: 1;
    color: rgba(0,0,0,.8);
    -webkit-text-fill-color: rgba(0,0,0,.8);
    margin-bottom: 0;
    pointer-events: none;
}
/* Bug on safari */
.cbp-spmenu-vertical .menu-title .user-number p a {
    border-bottom: none;
    padding: 0;
}
/* End Bug on safari */
.cbp-spmenu a {
    display: block;
    font-family: 'pslkittithadabold';
    color: rgba(0,0,0,.8);
    font-size: 26px;
}
.cbp-spmenu p {
    display: inline-block;
    font-family: 'pslkittithadabold';
    color: rgba(0,0,0,.8);
    font-size: 26px;
    margin-bottom: 0;
}
/*.cbp-spmenu a:hover {
    background: #258ecd;
}
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}*/
.cbp-spmenu-vertical {
    width: 315px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
.cbp-spmenu-vertical a {
    border-bottom: 1px solid rgba(106,106,106,.10);
    padding: 15px;
}
.cbp-spmenu-vertical .language-menu {
    border-bottom: 1px solid rgba(106,106,106,.10);
    padding: 15px;
}
.cbp-spmenu-vertical .language-menu .custom-switch {
    width: 65px;
    height: 35px;
}
.cbp-spmenu-vertical .language-menu .custom-switch .custom-control-label::before {
    background-color: #A8C631;
    border: 1px solid rgba(211,211,211,.2);
}
.cbp-spmenu-vertical .language-menu .custom-control.custom-switch:before {
    color: #fff;
}
.cbp-spmenu-vertical .language-menu .custom-control.custom-switch:after {
    color: #fff;
}
.cbp-spmenu-right {
    right: -315px;
}
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.cbp-spmenu-push-toleft {
    left: -315px;
    overflow: hidden;
}
.cbp-spmenu-vertical .contact-tel, .cbp-spmenu-vertical .versions {
    border-bottom: 1px solid rgba(106,106,106,.10);
    padding: 15px;
}
.cbp-spmenu-vertical .contact-tel p {
    width: 100%;
}
.cbp-spmenu-vertical .contact-tel a {
    padding: 0;
    display: inline-block;
    float: right;
    text-align: right;
    border-bottom: none;
    width: 65px;
    background-image: url(../img/ico-tel.svg);
    background-repeat: no-repeat;
    background-position: left top 1px;
    background-size: 24px;
}
.cbp-spmenu-vertical .contact-tel p.time-to-open {
    font-family: 'pslkittithadabold';
    font-size: 22px;
    color: rgba(0,0,0,.7);
}
.cbp-spmenu-vertical .versions p {
    width: 100%;
}
.cbp-spmenu-vertical .versions span {
    display: inline-block;
    float: right;
}
.cbp-spmenu-vertical .click-to {
    background-image: url(../img/ico-next-gr.svg);
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 24px;
}
.cbp-spmenu-vertical .click-to:hover {
    text-decoration: none;
}
.cbp-spmenu-vertical .log_out {
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(106,106,106,.10);
    border-bottom: none;
    width: 100%;
    background-image: url(../img/ico-logout.svg);
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 24px;
}
.cbp-spmenu-vertical .log_out:hover {
    text-decoration: none;
}
/*.cbp-spmenu-push.cbp-spmenu-push-toleft:after {
    background: rgba(0,0,0,.6);
    content: "";
    width: 100%;
    height: -webkit-fill-available;
    display: block;
    position: absolute;
    top: 0;
}*/
.bg-overlay {
    background: rgba(0,0,0,.6);
    content: "";
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    display: none;
    z-index: 999;
}

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cbp-spmenu-push-toleft .footer.cart {
    display: none;
}

/* Cart */
.header.cart {
    background-image: url('../img/img-header-2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px 0 30px 0;
}
.header.cart .logo {
    display: inline-block;
}
.header.cart .menu {
    float: right;
    display: inline-block;
    border: none;
    background: none;
    padding: 0;
}
.header.cart button.menu:focus {
    outline: none;
}
.header.cart .custom-name {
    margin-top: -15px;
    vertical-align: middle;
    height: 56px;
}
.header.cart .custom-name p {
    font-family: 'pslkittithadabold';
    font-size: 30px;
    color: rgba(0,0,0,.65);
    -webkit-text-fill-color: rgba(0,0,0,.65); 
    float: right;
    line-height: 1;
    text-align: right;
    margin: 0;
    pointer-events: none;
}
.header.cart .custom-name p span {
    font-size: 20px;
    color: rgba(0,0,0,.65);
    display: block;
}
.header.cart .block-detail .detail {
    background-image: linear-gradient(to top , #F0F0F0, #FBFBFB, #FFFFFF);
    border: 1px solid rgba(255,255,255,.37);
    border-radius: 4px;
    box-shadow: 0px 1px 10px rgba(0,0,0,.1);
    display: inline-block;
    width: 48%;
    height: 70px;
}
.header.cart .block-detail .detail .num-detail {
    background-image: url('../img/ico-num-list.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    padding: 8px;
}
.header.cart .block-detail .detail .date-detail {
    background-image: url('../img/ico-date.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    padding: 8px;
}
.header.cart .block-detail .detail p {
    font-family: 'pslkittithadabold';
    margin: 0;
    font-size: 24px;
    -webkit-text-fill-color: #000;
}
.header.cart .block-detail .detail p.small {
    color: rgba(0,0,0,.50);
    -webkit-text-fill-color:rgba(0,0,0,.50);
}
.shadow-bg {
    background: rgba(255,255,255,.41);
    border-radius: 34px;
    padding-top: 5px;
    margin-top: 7px;
}
.content.cart {
    background-color: #fff;
    /*height: -webkit-fill-available;*/
    padding-bottom: 140px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}
.content.cart:after {
    display: block;
    content: '';
    width: 100%;
    height: 162px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.6) 15%, rgba(255,255,255,1) 95%);
    position: fixed;
    bottom: 0;
}
.btn-scan {
    position: absolute;
    top: -36px;
    right: 67.5px;
    left: 67.5px;
    margin: auto;
    background-image: linear-gradient(to bottom , #FED02B, #FEC52B);
    border: 1px solid #FED455;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
    width: calc(375px - 135px);;
    height: 50px;
    padding: 8px 10px;
    text-align: center;
}
.btn-scan a {
    font-family: 'pslkittithadabold';
    font-size: 26px;
    color: #000;
    text-shadow: 1px -0.5px rgba(0,0,0,.07);
    background-image: url('../img/ico-scan-prod.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 30px;
    text-decoration: none;
}
.content.cart p.list-prod-no {
    font-family: 'pslkittithadabold';
    font-size: 18px;
    color: #7F7F7F;
    -webkit-text-fill-color: #7F7F7F;
    text-align: center;
    padding: 30px 0 0 0;
    margin-bottom: 10px;
    pointer-events: none;
}
.content.cart .no-list {
    padding-top: 136px;
}
.content.cart .no-list h5 {
    font-size: 26px;
    color: #6A6A6A;
    opacity: 0.6;
}
.content.cart .have-list h5 {
    font-family: 'pslkittithadabold';
    font-size: 26px;
    color: #A8C631;
    margin-bottom: -9px;
}
.content.cart .list-detail table {
    width: 100%;
}
.content.cart .list-detail table tr th:nth-last-child(1), .content.cart .list-detail table tr td:nth-last-child(1) {
    text-align: right;
    vertical-align: top;
    float: right;
}
.content.cart .list-detail table tr .prod-name {
    font-size: 22px;
    padding-top: 10px;
}
.content.cart .list-detail table tr .prod-name p:nth-child(1) {
    width: 47%;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.content.cart .list-detail table tr .prod-price {
    font-size: 26px;
}
.content.cart .list-detail table tr .prod-amount p {
    font-family: 'pslkittithadabold';
    font-size: 22px;
}
.content.cart .list-detail table tr .prod-amount .input-group {
    width: 66px;
}
.content.cart .list-detail table tr .prod-amount .input-group button {
    padding: 2px 0 0 0;
}
.content.cart .list-detail table tr .prod-amount .input-group button.btn:disabled {
    opacity: .4;
}
.content.cart .list-detail table tr .prod-amount .input-group .input-number {
    border: none;
    font-family: 'pslkittithadabold';
    font-size: 22px;
    padding: 6px 4px 8px 4px;
    height: 35px;
    text-align: center;
}
.content.cart .list-detail table tr p {
    margin-bottom: 0;
    -webkit-text-fill-color: #000;
}
.content.cart .list-detail table tr p.small {
    font-size: 18px!important;
    color: rgba(38,38,38,.6);
    -webkit-text-fill-color: rgba(38,38,38,.6);
    width: 118%;
}
.content.cart .list-detail table tbody {
    border-bottom: 1px solid rgba(106,106,106,.1);
    padding-bottom: 6px;
    margin-bottom: 8px;
}
.content.cart .list-detail table tr .prod-remove {
    padding-top: 6px;
}
.content.cart .list-detail table tr .prod-remove button{
    border: none;
    background: none;
    padding: 0;
}
.footer.cart {
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,.1);
    border: 1px solid #A8C631;
    border-radius: 4px;
    width: calc(100% - 30px);
    padding: 10px;
    position: fixed;
    bottom: 15px;
    left: 15px;
    right: 15px;
}
.footer.cart .footer-detail {
    display: inline-block;
}
.footer.cart h5 {
    font-size: 30px;
    color: #A8C631;
    margin-bottom: 0;
}
.footer.cart p {
    margin-bottom: 0;
}
.footer.cart p a {
    font-size: 18px;
    text-decoration: underline;
    color: rgba(0,0,0,.5);
    background-image: url(../img/ico-cancel-list.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 25px;
}
.footer.cart .footer-btn {
    font-family: 'pslkittithadabold';
    font-size: 26px;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom , #A8C631, #9BB530);
    border: 1px solid #ACCB34;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    float: right;
    padding: 3px;
    margin-top: 10px;
}
.footer.cart .footer-btn a {
    color: #fff;
    text-shadow: 1px -0.5px rgba(0,0,0,.07);
    text-decoration: none;
}

/* Payment method */
.green-background.payment-method {
    height: auto;
    border-bottom: 1px solid #A8C631;
}
.grey-background.payment-method {
    height: 100vh;
}
.header.payment .btn-back {
    border: none;
    background: none;
    position: absolute;
    top: 13px;
    padding: 2px 0;
}
.header.payment .header-title {
    text-align: center;
    padding: 13px 0;
}
.header.payment .header-title h3 {
    margin-bottom: 0;
}
.content.payment {
    padding-top: 20px;
}
.content.payment .block-detail {
    width: 100%;
    height: 152px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
    margin-bottom: 20px;
    position: relative;
}
.content.payment .block-detail h2 {
    margin-bottom: 0;
    font-family: 'pslkittithadabold';
    font-size: 35px;
    line-height: 1.6;
}
.content.payment .block-detail p {
    margin-bottom: 0;
    font-family: 'pslkittithadabold';
    font-size: 21px;
    margin-top: -12px;
    margin-bottom: 6px;
}
.content.payment .block-detail img {
    vertical-align: baseline;
    height: 14px;
    width: 6px;
}
.content.payment .block-detail .text-right {
    position: absolute;
    bottom: 15px;
    right: 24px;
    width: 30px;
    height: 30px;
}
.content.payment .block-detail .detail01 {
    background-image: url(../img/ico-cashier.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
    padding: 10px 24px 20px 40%;
    text-align: right;
    height: 100%;
}
.content.payment .block-detail .detail01 button {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to top right, rgba(255,196,0,.47), rgba(237,141,29,.47));
    background-color: transparent;
    background-size: 30px;
    border: none;
    border-radius: 31px;
    padding: 5px;
}
.content.payment .block-detail .detail02 {
    background-image: url(../img/ico-kiosk.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;
    padding: 10px 24px 20px 40%;
    text-align: right;
    height: 100%;
}
.content.payment .block-detail .detail02 button {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to top right, rgba(77,144,235,.47), rgba(21,78,155,.47));
    background-color: transparent;
    background-size: 30px;
    border-radius: 31px;
    border: none;
    padding: 5px;
}

/* Modal */
.modal-content {
    width: calc(100% - 30px);
    margin: auto;
    border-radius: 6px;
}
.modal-content .modal-header, .modal-content .modal-footer {
    display: inline-block;
    border: none;
}
.modal-content .modal-header button.close {
    display: none;
}
.modal-content .modal-header {
    padding-top: 25px;
    padding-bottom: 0;
}
.modal-content .modal-header h5 {
    font-size: 24px;
}
.modal-content .modal-body {
    padding: 10px 30px;
}
.modal-content .modal-body p {
    font-size: 22px;
    line-height: 1;
}
.modal-content .modal-footer {
    padding-top: 0;
    padding-bottom: 25px;
}
.modal-content .modal-footer button {
    width: 120px;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
    font-family: 'pslkittithadabold';
    font-size: 26px;
    line-height: 1;
    color: #fff;
    text-shadow: 1px -0.5px rgba(0,0,0,.07)
}
.modal-content .modal-footer button.remove {
    background-image: linear-gradient(to bottom , #FF001F, #C60018);
    border: 1px solid #DE151D;
}
.modal-content .modal-footer button.cancel {
    background-image: linear-gradient(to bottom , #DEDEDE, #B7B7B7);
    border: 1px solid #D3D3D3;
}
.modal-content .modal-footer button.btn-green {
    background-image: linear-gradient(to bottom , #A8C631, #9BB530);
    border: 1px solid #ACCB34;
}
.modal-content .modal-footer button.btn-link {
    border: none;
    background: none;
    color: #A8C631;
    display: block;
    text-shadow: none;
    box-shadow: none;
    margin: auto;
    padding-top: 12px;
}

/* Terms from menu */
.green-background.terms-menu {
    height: auto;
    border-bottom: 1px solid #A8C631;
}
.terms-menu .header-title h3 {
    font-family: 'pslkittithadabold';
    margin-bottom: 0;
}
.terms-menu.content {
    margin-top: 20px;
}
.terms-menu.content h5 {
    font-family: 'pslkittithadabold';
    font-size: 26px;
}
.terms-menu.content p {
    font-size: 20px;
}
.terms-menu.content p strong {
    display: block;
    font-size: 22px;
}

/* Allow access */
.allow-access.content h5 {
    font-family: 'pslkittithadabold';
    font-size: 26px;
    display: inline-block;
    margin-bottom: 0;
}
.allow-access.content p {
    line-height: 1;
}
.allow-access.content {
    margin-top: 20px;
}
.allow-access.content .custom-switch {
    width: 51px;
    height: 35px;
    margin-top: -5px;
}
.allow-access.content .custom-switch .custom-control-label::before {
    width: 51px;
    background-color: #E3E3E3;
    border: 1px solid rgba(211,211,211,.2);
}
.allow-access.content .custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: #A8C631!important;
}
.allow-access.content .custom-switch .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(1.25rem);
}
.allow-access.content .custom-control.custom-switch:before,
.allow-access.content .custom-control.custom-switch:after {
    content: "";
}
.with-line {
    width: 98%;
    height: 1px;
    background-color: rgba(106,106,106,.1);
    margin: 15px auto 10px auto;
}
.allow-access.content p a {
    color: #A8C631;
    display: block;
    text-decoration: underline;
}

/* Map */
.green-background.map.only-header {
    height: auto;
    border-bottom: 1px solid #A8C631;
}
.grey-background.map {
    height: 100vh;
}
.map .header-title h3 {
    font-family: 'pslkittithadabold';
    margin-bottom: 0;
}
.map.content h3 {
    font-family: 'pslkittithadabold';
    font-size: 28px;
    line-height: 1;
    text-align: center;
    padding-top: 20px;
}
.map.content .image-map {
    text-align: center;
    padding-bottom: 20px;
}
.map.content .image-map img {
    width: 100%;
}

/* QR Code */
.green-background.qrcode-pg {
    height: auto;
    border-bottom: 1px solid #A8C631;
}
.grey-background.qrcode-pg {
    height: 100vh;
}
.qrcode-pg .header-title h3 {
    margin-bottom: 0;
}
.qrcode-pg .header {
    position: relative;
}
.qrcode-pg .header a.click-to-map {
    position: absolute;
    right: 0;
    top: 14px;
    font-family: 'pslkittithadabold';
    font-size: 24px;
    text-decoration: underline;
    color: #fff;
}
.qrcode-pg .content {
    padding-top: 20px;
    font-family: 'pslkittithadabold';
    font-size: 28px;
    line-height: 1;
    text-align: center;
}
.qrcode-pg .content h3 {
    line-height: 1;
}
.qrcode {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    /*box-shadow: 0px 1px 10px rgba(0,0,0,.1);*/
    position: relative;
    border-radius: 6px;
}
.qrcode .four-section {
    height: 20px;
}
.line {
    background-image: linear-gradient(to right, #DEDEDE 50%, transparent 0%);
    background-position: center bottom;
    background-size: 22px 1px;
    background-repeat: repeat-x;
    width: 94%;
    height: 1px;
    left: 3%;
    right: 3%;
    position: absolute;
    z-index: 99;
    display: inline-block;
    padding-top: 9px;
}
/*.line:before {
    position: absolute;
    left: -16px;
    top: -18px;
    content: '';
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #EBEBEB;
    font-size: 0;
}
.line:after {
    position: absolute;
    right: -16px;
    top: -18px;
    content: '';
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 17px solid #EBEBEB;
    font-size: 0;
}*/
.arrow-right {
    width: 10px;
    height: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: left;
}
.arrow-right:before {
    content: '';
    display: block;
    width: 10px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #E5E5E5;
    /*background-image: linear-gradient(#e5e5e5,#EBEBEB);*/
    transform: rotate(45deg);
    transform-origin: 0 0;
    box-shadow: inset 0px 1px 10px rgba(0,0,0,.1);
}
.arrow-left {
    width: 10px;
    height: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: right;
}
.arrow-left:before {
    content: '';
    display: block;
    width: 10px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: #E5E5E5;
    /*background-image: linear-gradient(#e5e5e5,#EBEBEB);*/
    transform: rotate(-45deg);
    transform-origin: 100% 0;
    box-shadow: inset 0px 1px 10px rgba(0,0,0,.1);
}
.qrcode .first-section {
    background-image: url(../img/img-pattern-bigc3.png);
    background-color: #fff;
    background-position: left 28px top 35px;
    background-repeat: repeat;
    background-size: 50%;
    height: 347px;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /*display: flex;*/
    /*clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 97%, 97% 100%, 3% 100%, 0 97%, 0 0);*/
    box-shadow: 0px 1px 10px rgba(0,0,0,.1);
}
.qrcode .first-section img {
    margin: auto;
    padding: 30px 0;
    display: block;
}
.qrcode .second-section {
    text-align: center;
    /*clip-path: polygon(3% 0, 97% 0, 100% 8%, 100% 100%, 90% 100%, 10% 100%, 0 100%, 0 8%);*/
    /*padding: 15px;*/
}
.qrcode .second-section p {
    margin-bottom: 0;
    font-family: 'pslkittithadabold';
    font-size: 20px;
    color: rgba(0,0,0,.6);
}
.qrcode .second-section h5 {
    margin-bottom: 0;
    font-family: 'pslkittithadabold';
    font-size: 24px;
    line-height: 1;
    -webkit-text-fill-color: #000;
}
.qrcode .second-section p.small {
    font-size: 16px!important;
    color: #D10019;
}
.qrcode .third-section {
    background-color: #E9E9E9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    padding: 6px 15px;
    box-shadow: 0px 1px 10px rgba(0,0,0,.1);
    text-align: left;
}
.qrcode .third-section .left {
    display: inline-block;
}
.qrcode .third-section .right {
    display: inline-block;
    float: right;
    padding-top: 6px;
    -webkit-text-fill-color: #000;
    pointer-events: none;
}
.qrcode .third-section p {
    margin-bottom: 0;
    font-family: 'pslkittithadabold';
    font-size: 18px;
}
.btn-yellow {
    background-image: linear-gradient(to bottom , #FED02B, #FEC52B);
    border: 1px solid #FED455;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
    width: 120px;
    height: 40px;
    padding: 4px 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.btn-yellow a {
    font-family: 'pslkittithadabold';
    font-size: 26px;
    color: #000;
    text-shadow: 1px -0.5px rgba(0,0,0,.07);
    text-decoration: none;
}

/* Payment Success */
.payment-success-pg.green-background {
    height: auto;
    border-bottom: 1px solid #A8C631;
}
.payment-success-pg .header {
    position: relative;
}
.payment-success-pg .header h3 {
    font-family: 'pslkittithadabold';
    margin-bottom: 0;
}
.payment-success-pg .header a.click-to-map {
    position: absolute;
    right: 0;
    top: 14px;
    font-family: 'pslkittithadabold';
    font-size: 24px;
    text-decoration: underline;
    color: #fff;
}
.payment-success-pg.grey-background {
    padding: 6px 0;
}
.payment-success-pg .left {
    display: inline-block;
    margin-bottom: 0;
    font-family: 'pslkittithadabold';
    font-size: 18px;
}
.payment-success-pg .right {
    display: inline-block;
    float: right;
    margin-bottom: 0;
    font-family: 'pslkittithadabold';
    font-size: 18px;
    -webkit-text-fill-color: #000;
    padding-top: 4px;
    pointer-events: none;
}
.payment-success {
    margin-top: 30px;
    font-family: 'pslkittithadabold';
    text-align: center;
}
.payment-success h3 {
    line-height: 1;
    margin-bottom: 25px;
}
h5.text-below-img {
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
}
.payment-success .btn-yellow {
    width: 150px;
}
/*.payment-success .bill-section p, .payment-success .bill-section h5 {
    margin-bottom: 0;
}
.payment-success .bill-section .bill-title {
    padding-top: 12px;
    margin-bottom: 19px;
    text-align: center;
}
.payment-success .bill-section .bill-title p {
    font-family: 'pslkittithadabold';
    font-size: 18px;
    color: rgba(0,0,0,.6);
}
.payment-success .bill-section .bill-title h5 {
    font-family: 'pslkittithadabold';
    font-size: 22px;
    line-height: 1;
    -webkit-text-fill-color: #000;
}
.payment-success .bill-section .bill-detail {
    text-align: left;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.payment-success .bill-section .bill-detail:nth-last-child(2) {
    border-bottom: none;
}
.payment-success .bill-section .bill-detail .left {
    display: inline-block;
}
.payment-success .bill-section .bill-detail .right {
    display: inline-block;
    float: right;
    vertical-align: bottom;
}
.payment-success .bill-section .bill-detail h5 {
    font-family: 'pslkittithadabold';
    font-size: 20px;
}
.payment-success .bill-section .bill-detail p {
    font-family: 'pslkittithadabold';
    font-size: 18px;
    color: #D10019;
}
.payment-success .bill-section .bill-detail h3 {
    font-family: 'pslkittithadabold';
    font-size: 26px;
    color: #A8C631;
    margin-top: 16px;
    margin-bottom: 0;
}
.payment-success .bill-section .txt-small {
    font-family: 'pslkittithadabold';
    font-size: 18px;
    color: rgba(0,0,0,.5);
    text-align: center;
}*/
.payment-success-pg .btn-yellow {
    position: absolute;
    bottom: -18px;
    left: 27%;
    right: 27%;
    margin: 0 auto;
}

/* Scan Code */
.line-for-scan:before {
    background: #FF001F;
    width: 3px;
    height: -webkit-fill-available;
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    right: 50%;
    margin: auto;
}
.line-for-scan:after {
    background: #FF001F;
    width: 100%;
    height: 3px;
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto;
}
.code-scan.header {
    height: 59px;
}
h5.content-title {
    font-family: 'pslkittithadabold';
    font-size: 28px;
    line-height: 1;
    color: #fff;
    text-align: center;
}
.code-scan.footer {
    position: fixed;
    left: 4%;
    right: 4%;
    bottom: 15px;
    margin: 0 auto;
}
.code-scan.footer .footer-menu {
    background: rgba(0,0,0,.55);
    border-radius: 6px;
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 10px;
}
.code-scan.footer .footer-menu a {
    text-decoration: none;
}
.code-scan.footer .footer-menu button {
    border: none;
    background: none;
    color: #fff;
    font-family: 'pslkittithadabold';
    font-size: 26px;
    padding-top: 25px;
    margin: 0 12px;
}
.code-scan.footer .footer-menu button.menu-scan {
    background-image: url(../img/ico-scan-menu.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    /*background-color: red;
    -webkit-mask: url(../img/ico-scan-menu.svg) no-repeat center top;
    mask: url(../img/ico-scan-menu.svg) no-repeat center top;*/
}
.code-scan.footer .footer-menu button.menu-keyboard {
    background-image: url(../img/ico-keyboard-menu.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
}
.code-scan.footer .footer-menu button.menu-scan.active {
    background-image: url(../img/ico-scan-menu-act.svg);
    color: #A8C631;
}
.code-scan.footer .footer-menu button.menu-keyboard.active {
    background-image: url(../img/ico-keyboard-menu-act.svg);
    color: #A8C631;
}

.code-key.content {
    text-align: center;
}
.code-key.content .content-title {
    color: #000;
    margin-top: 20px;
    margin-bottom: 25px;
}
.code-key.content .content-detail {
    margin-top: 15px;
}
.code-key.content .content-detail p.small {
    margin: auto;
    text-align: right;
    width: 298px;
    color: #858585;
}
.code-key.content input {
    font-family: 'pslkittithadabold';
    font-size: 22px;
    line-height: 1;
    width: 298px;
    height: 35px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    display: block;
    margin: auto;
    background-image: linear-gradient(to bottom, #F8F8F8, #FEFEFE, #FFFFFF, #FEFEFE, #F8F8F8);
}

body.code-key-pg {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.white-background.code-key {
    flex: 1;
    flex-direction: column;
    display: flex;
}
.code-key .container{
    flex: 1;
    flex-direction: column;
    display: flex;
}
.code-key.content{
    margin-bottom: 15px;
}
.code-key .code-scan.footer{
    /*position: static;*/
    margin-top: auto;
    /*margin-bottom: 15px;*/
    width: calc(100% - 30px);
}


@media (max-width:320px) {
    /* Menu */
    .cbp-spmenu-vertical {
        width: 260px;
    }
    .cbp-spmenu-right {
        right: -260px;
    }
    .cbp-spmenu-push-toleft {
        left: -260px;
    }
    .cbp-spmenu .menu-title .user-number p {
        font-size: 22px;
    }
    .cbp-spmenu .menu-title .user-image {
        padding-right: 10px;
    }
    .cbp-spmenu p {
        font-size: 24px;
    }
    .cbp-spmenu a {
        font-size: 24px;
    }
    .cbp-spmenu-vertical .language-menu .custom-switch {
        margin-top: -6px;
    }

    /* Modal */
    .modal-content .modal-body p br {
        display: none;
    }
    .modal-content .modal-footer button {
        width: 110px;
    }

    /* Terms */
    .terms .block {
        border-top-width: 95px;
        height: 488px;
    }
    .terms .block .block-title {
        top: -80px;
    }
    .terms .block .block-title h5 {
        margin-bottom: 0;
    }
    .terms .block .block-title .logo {
        float: none;
    }
    .terms .block .block-content {
        height: 370px;
    }

    /* Cart */
    .header.cart .block-detail .detail {
        width: 138px;
    }
    .header.cart .block-detail .detail p {
        font-size: 20px;
    }
    .btn-scan {
        right: 38.5px;
        left: 38.5px;
    }

    /* Map */
    .map.green-background {
        height: auto;
    }

    /* QR Code */
    .qrcode-pg.grey-background {
        height: 110vh;
    }
    .qrcode {
        width: 100%;
    }

    /* Payment Success */
    .payment-success {
        margin-bottom: 60px;
    }
    h5.text-below-img {
        margin-top: 15px;
    }

    /* Code Key */
    .code-key.content input {
        width: 100%;
    }
    .code-key.content .content-detail p.small {
        width: 100%;
    }
    .code-key.content .content-detail img {
        width: 100%;
        margin-bottom: 160px;
    }
    .code-key.content .content-detail .btn-yellow {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .code-scan.footer .footer-menu button {
        margin: 0 4px;
    }

    /* Payment Method */
    .content.payment .block-detail .detail01 {
        padding: 12px 15px 20px 30%;
    }
    .content.payment .block-detail .detail02 {
        padding: 12px 15px 20px 30%;
    }
    .content.payment .block-detail h2 {
        font-size: 30px;
    }
    .content.payment .block-detail p {
        margin-top: -6px;
        font-size: 20px;
        line-height: 1;
    }
}

@media (max-width:370px) and (min-width: 321px) {
    /* Payment Method */
    .content.payment .block-detail .detail01 {
        padding: 12px 15px 20px 36%;
    }
    .content.payment .block-detail .detail02 {
        padding: 12px 15px 20px 36%;
    }

    /* Menu */
    .cbp-spmenu-vertical {
        width: 288px;
    }
    .cbp-spmenu-right {
        right: -288px;
    }
    .cbp-spmenu-push-toleft {
        left: -288px;
    }
    .cbp-spmenu .menu-title .user-image {
        padding-right: 10px;
    }
    .cbp-spmenu .menu-title .user-number p {
        font-size: 26px;
    }

    /* Cart */
    .btn-scan {
        right: 60.5px;
        left: 60.5px;
    }
}

@media (min-width:768px) {
    .green-background {
        height: 120vh;
    }

    /* Cart */
    .cbp-spmenu-push.cbp-spmenu-push-toleft:after {
        height: -webkit-fill-available;
    }
    .header.cart {
        background-position: center bottom;
        padding-bottom: 0;
        height: 182px;
    }
    .header.cart .custom-name {
        margin-top: 0;
    }
    .footer.cart {
        width: calc(100% - 90px);
        left: 45px;
        right: 45px;
        bottom: 30px;
    }

    /* Map */
    .map.content h3 br {
        display: none;
    }

    /* Payment Method */
    .qrcode-pg .content h3 br {
        display: none;
    }

    .qrcode {
        width: 326px;
    }
}

@media (min-width:1024px) {

}